/* html {
    line-height: 0;
} */

td, th {
    padding: 0px !important;
    border: 1px solid black;
}

th {
    text-align: center;
}

td {
    padding-left: 0.2em !important;
    padding-right: 0.2rem !important;
    height:1.3rem !important;
}

p {
    line-height: 0.1rem;
}

h4 {
    margin: 1.52rem 0 1.4rem 0 !important;
}

textarea {
    height: 5.27rem;
}

input:focus {
    border-bottom: 1px solid #ff9100 !important;
    box-shadow: 0 1px 0 0 #ff9100 !important;
}

.hook {
    height: 2.3rem !important;
    margin: 0px !important;
    /* border-bottom: 0.5px solid darkgray !important; */
}

.hook-by {
    height: 3.1rem !important;
}

.render {
    width: 99%;
    padding-left: 1.7rem;
}

.datepicker-date-display {
    background-color: #ff9100;
}

.form-logo {
    position: absolute;
    width: 80px;
    height: auto;
    top: 0px;
    left: 1rem;
    z-index: 1;
}

#render {
    height: 3rem;
}